.ContainerSingle {
  display: flex;
  flex-direction: column;
  gap: 20px;
 padding: 25px;
 padding-top: 50px;
 margin-left: 60px;
}

.AllOneServices {
  display: flex;
  flex-direction: column;

 
  align-items: flex-start;
  width: 1090px;
  margin-top: 50px;
}

.description-title{
  display: flex;

  gap: 5px;
  font-size: 18px;
  font-weight: 600;
  background-color: #222;
  border-radius: 5px;
  color: #ffffff;
  height: 35px;
  align-items: center;
width: 1090px;
padding-left: 10px;
}
.all-one-and-title{
  display: flex;
  flex-direction: column;
}
.SingleService {
  display: flex;
  height: 320px;

  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  border-radius: 7px;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  text-align: start;
  margin-top:15px;
}

.container-name-description {
  flex-direction: column;
  display: flex;
  width: 700px;
  gap: 10px;

  border-radius: 15px;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  text-align: start;
  margin: 20px;
  padding: 10px;
}

.img-single-service {
  width: 350px;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.descriptionOneSer {
  margin-left: 20px;
  font-size: 19px;
  text-align: start;
  font-weight: 450;
}

.nameOneSer {
  margin-left: 20px;
  font-size: 26px;
  text-align: start;
  font-weight: 600;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.border {
  border-bottom: 0.5px solid rgb(160, 160, 160);
}
.flexColAllWorker {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 1090px;


}
.workers-flex-row{
  display: flex;
  overflow-x: scroll;
}

.Header {
  display: flex;

  gap: 5px;
  font-size: 18px;
  font-weight: 600;
  background-color: #222;
  border-radius: 5px;
  color: #ffffff;
  height: 35px;
  align-items: center;
width: 1090px;
padding-left: 10px;
}


.worker_info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 7px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  width: 300px;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 50px;
  height: 190px;
  padding: 10px;
  border: 0.5px solid #222;
}
.worker_info:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.img_worker {
  width: 56px;
  height: 55px;
  border-radius: 50%;
  object-fit: contain;

  box-shadow: 0 0 3px rgb(145, 144, 144);
}
.worker-name {
  font-size: 19px;
  font-weight: 600;
}

.connect-button {
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  width: 140px;
  height: 32px;
  color: white;
  border: none;
  font-size: 17px;
  border-radius: 7px;
  background-color: #0075ff;
  transition: all 0.4s;
  cursor: pointer;
}

.connect-button:hover {
  background-color:#055fc7;
}
.icon_worker {
  font-size: 25px;
}
